* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: rgb(6, 6, 241);
  --red: rgb(255, 0, 0);
  --green: rgb(0, 128, 0);
  --yellow: rgb(255, 255, 0);
  --black: black;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}
.main-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genius {
  width: 510px;
  height: 510px;
  display: grid;
  grid-template-areas: "verde vermelho " "amarelo azul";
  grid-gap: 35px;
  border: 1px solid var(--black);
  background-color: var(--black);
  border-radius: 100%;
}
.circle {
  width: 250px;
  height: 250px;
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 10;
}
.start {
  width: 70%;
  height: 50px;
  border-radius: 50px;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}
.azul {
  grid-area: azul;
  background-color: var(--blue);
  border-bottom-right-radius: 100%;
  cursor: pointer;
}
.vermelho {
  grid-area: vermelho;
  background-color: var(--red);
  border-top-right-radius: 100%;
  cursor: pointer;
}
.amarelo {
  grid-area: amarelo;
  background-color: var(--yellow);
  border-bottom-left-radius: 100%;
  cursor: pointer;
}
.verde {
  grid-area: verde;
  background-color: var(--green);
  border-top-left-radius: 100%;
  cursor: pointer;
}
.selected {
  opacity: 0.5;
}

@media screen and (max-width: 520px) {
  .genius {
    width: 400px;
    height: 400px;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 430px) {
  .genius {
    width: 320px;
    height: 320px;
  }
  .circle {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 320px) {
  .genius {
    min-width: 300px;
    min-height: 300px;
  }
  .circle {
    min-width: 110px;
    min-height: 110px;
  }
}
